.tweet {
    margin-top: .5em;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #A9A9A9;
    overflow: hidden;
    opacity: .5;
}

.name {
  padding: .5em;
  border-bottom: none;
  margin: 0;
  background-color: #eee;
}

.handle {
  text-align: right;
  fixed: right;
}

.content {
  padding: 1em;
  width: 100%;
}

article:hover {
  opacity: 1.0;
}

article:hover + .icons {
  display: block;
}

 footer .icons {
   color: green;
  display: none;
  fixed:  right;
}

footer {
  fixed: bottom;
  padding: 0.4em;
  border-top: 1px solid black;
}
